<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        version   = "1.0">


        <preference name="phonegap-version" value="3.3.0" />
	<preference name="target-device" value="handset" /> 

    <name>DesignteezApp</name>

    <description>
        My app Description
    </description>

	<!--
    <author href="" email="">
        
    </author>
	-->

	<icon src="icon.png" /> 

    <icon src="Icon.png" width="57" height="57" />
    <icon src="Icon@2x.png" width="114" height="114" />
    <icon gap:platform="ios" src="Icon-72.png" width="72" height="72" />
    <icon src="Icon-72@2x.png" width="144" height="144" />

<access origin="*" />
</widget>